POSTGRES_HOST_PORT=5433
PGADMIN_HOST_PORT=5050

DATABASE_URL="postgresql://gestao_fiscal:gestao_fiscal_dev@127.0.0.1:5433/gestao_fiscal?schema=public"
JWT_SECRET="super-secret-key-change-in-production"
JWT_ACCESS_EXPIRATION="15m"
JWT_REFRESH_EXPIRATION="7d"
PORT=3000
